<?xml version="1.0"?>
<!--
    Launch file to start all
-->
<launch>

    <arg name="conf_file" default="$(find kinect_nav)/launch/includes/configuration.launch"/>
    <arg name="localization" default="true"/>

    <!-- Setup default topic names from Kinect:  -->
    <arg name="camera_name" default="camera"/>
    <arg name="rgb_image" default="/$(arg camera_name)/rgb/image_rect_color"/>
    <arg name="rgb_camera_info" default="/$(arg camera_name)/rgb/camera_info"/>
    <arg name="depth_image" default="/$(arg camera_name)/depth_registered/image_raw"/>
    <arg name="depth_camera_info" default="/$(arg camera_name)/depth_registered/camera_info"/>
    <arg name="base_kinect_link" default="$(arg camera_name)_link" /> <!-- tf coordinate system name from Kinect -->
    <arg name="laserscan_topic" default="/$(arg camera_name)/laserscan"/>
    <arg name="laserscan_frame" default="$(arg base_kinect_link)"/>
    <arg name="depth_points" default="/$(arg camera_name)/depths/points"/>
    <arg name="depth_points_frame" default="/$(arg camera_name)_depth_frame"/>
    <arg name="rtabmap_frame_id" value="$(arg base_kinect_link)" />

    <!-- ********************************************************************* -->
    <!--  Start sensors  -->
    <!-- ********************************************************************* -->
    <include file="$(arg conf_file)">
        <arg name="rgb_image" value="$(arg rgb_image)"/>
        <arg name="rgb_camera_info" value="$(arg rgb_camera_info)"/>
        <arg name="depth_image" value="$(arg depth_image)"/>
        <arg name="depth_camera_info" value="$(arg depth_camera_info)"/>
        <arg name="base_kinect_link" value="$(arg base_kinect_link)" />
        <arg name="laserscan_topic" value="$(arg laserscan_topic)"/>
    </include>

    <!-- ********************************************************************* -->
    <!--  Start mapping  -->
    <!-- ********************************************************************* -->
    <include file="$(find kinect_nav)/launch/includes/rtabmapping.launch">
        <arg name="localization" value="$(arg localization)"/>
        <arg name="rgb_image" value="$(arg rgb_image)"/>
        <arg name="rgb_camera_info" value="$(arg rgb_camera_info)"/>
        <arg name="depth_image" value="$(arg depth_image)"/>
        <arg name="depth_camera_info" value="$(arg depth_camera_info)"/>
        <arg name="rtabmap_frame_id" value="$(arg rtabmap_frame_id)" />
        <arg name="laserscan_topic" value="$(arg laserscan_topic)"/>
        <arg name="database_path" value="$(find kinect_nav)/maps/_map.db"/>
    </include>

    <!-- ********************************************************************* -->
    <!--  Start move_base  -->
    <!-- ********************************************************************* -->
    <include file="$(find kinect_nav)/launch/includes/move_base.launch">
        <arg name="laserscan_topic" value="$(arg laserscan_topic)"/>
        <arg name="laserscan_frame" value="$(arg laserscan_frame)"/>
        <arg name="robot_base_frame" value="$(arg base_kinect_link)"/>
    </include>

    <!-- ********************************************************************* -->
    <!--  Start rviz  -->
    <!-- ********************************************************************* -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinect_nav)/launch/includes/navigation.rviz ">
        <!--remap from="/rtabmap/get_map" to="/get_map"/-->
        <!--remap from="/rtabmap/get_map_data" to="/get_map_data"/-->
    </node>

    <!-- visualization with rtabmapviz -->
    <!--<node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">-->
        <!--<param name="subscribe_depth"             type="bool" value="true"/>-->
        <!--<param name="subscribe_scan"              type="bool" value="true"/>-->
        <!--<param name="frame_id"                    type="string" value="$(arg rtabmap_frame_id)"/>-->

        <!--<remap from="rgb/image"       to="$(arg rgb_image)"/>-->
        <!--<remap from="depth/image"     to="$(arg depth_image)"/>-->
        <!--<remap from="rgb/camera_info" to="$(arg rgb_camera_info)"/>-->
        <!--<remap from="scan"            to="$(arg laserscan_topic)"/>-->
    <!--</node>-->



</launch>
